@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <!--<h1>@ViewBag.Title.</h1>-->
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This is your portal to pick up soccer games in the St. Louis area.  Use this site to find game times and locations, 
                view important rules and connect with other playes.
            </p>
        </div>
    </section>
}
<h3>Todays Games:</h3>
<table>
    <tr>
        <th>Time</th>
        <th>Location</th>
    </tr>
    <tr>

    </tr>
</table>


